<div class="card" style="width: 300px;">
  <div class="card-divider center">
  Nuevo mascota
  </div>
    <div class="card-section">
    <form action='/user/new_pet' method="POST">
    <input type="text" name="nombre" placeholder="Nombre">
    <select name="tipo">
    {{#each tipos}}
    <option value="{{tipo}}">{{tipo}}</option>
    {{/each}}
    </select>
    <div class="row">
    <label><input type="radio" name="sexo" value="macho">Macho
    <input type="radio" name="sexo" value="hembra" checked>Hembra</label>
    </div>
    <div class="row">
    <label><input type="radio" name="tamaño" value="grande">Grande
    <input type="radio" name="tamaño" value="mediano" checked>Mediano
    <input type="radio" name="tamaño" value="pequeño">Pequeño</label>
    </div>
    <textarea name="descripcion" rows="5" cols="5" placeholder="una caracteristicas de tu mascota"></textarea>
  <button class="button" type="submit" value="Submit">Subir</button>
</form>
  </div>