<footer id="footer">
    <section class="grid-container text-center">
        <div  class="grid-x grid-margin-x small-up-2 large-up-4 ">
            <div class="cell">
                <ul class="no-bullet">
                    <li><b>NUESTRA EMPRESA</b></li>
                    <li>Aviso Legal</li>
                    <li>Sobre Nosotros</li>
                    <li>Contactenos</li>
                    <li>Mapa del Sitio</li>
                </ul>
            </div>
            <div class="cell">
                <ul class="no-bullet">
                    <li><b>NUESTRA EMPRESA</b></li>
                    <li>Aviso Legal</li>
                    <li>Sobre Nosotros</li>
                    <li>Contactenos</li>
                    <li>Mapa del Sitio</li>
                </ul>
            </div>
            <div class="cell">
                <ul class="no-bullet">
                    <li><b>INFORMACION DE LA CLINICA</b></li>
                    <li>Sec-Pets</li>
                    <li>Colombia</li>
                    <li>Envienos un correo electronico:</li>
                    <li>sci-pet@gmail.com</li>
                </ul>
            </div>
            <div class="cell">
                <ul class="no-bullet">
                    <li><b>titulo</b></li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ul>
            </div>
        </div>
        <div class="copyri">
            <div class="cell"><span>Copyright &#169; 2019-2021 Programmers - Todos los derechos reservados </span>
            </div>
            <div class="cell"> <span>Politica de privacidad - Politica de cookies - Politica de publicad</span>
            </div>
        </div>
    </section>
</footer>