<footer id="footer">
    <section class="grid-container text-center">
        <div class="grid-x grid-margin-x small-up-2 large-up-4 ">
            <div class="cell">
                <ul class="no-bullet">
                    <li><b>NUESTRA EMPRESA</b></li>
                    <li>Aviso Legal</li>
                    <li>Sobre Nosotros</li>
                    <li>Contactenos</li>
                    <li>Mapa del Sitio</li>
                </ul>
            </div>
            <div class="cell">
                <ul class="no-bullet">
                    <li><b>NUESTRA EMPRESA</b></li>
                    <li>Aviso Legal</li>
                    <li>Sobre Nosotros</li>
                    <li>Contactenos</li>
                    <li>Mapa del Sitio</li>
                </ul>
            </div>
            <div class="cell">
                <ul class="no-bullet">
                    <li><b>INFORMACION DE LA CLINICA</b></li>
                    <li>Sec-Pets</li>
                    <li>Colombia</li>
                    <li>Envienos un correo electronico:</li>
                    <li>sci-pet@gmail.com</li>
                </ul>
            </div>
            <div class="cell" style="display: flex;align-content: center;align-items: center;">
            
                    <a href="https://www.youtube.com/" target="_blank"><img src="/img/pngfuel yt.png" width="40"
                            height="40" alt="" /></a>
                    <a href="https://www.tumblr.com/" target="_blank"><img src="/img/pngfuel tumblr.png" width="30"
                            height="30" alt="" /></a>
                    <a href="https://www.facebook.com/" target="_blank"><img src="/img/pngfuel face.png" width="40"
                            height="40" alt="" /></a>
                    <a href="https://twitter.com/explore" target="_blank"><img src="/img/pngfuel twitt.png" width="40"
                            height="40" alt="" /></a>
                    <a href="#0" target="_blank"><img src="/img/pngfuel what.png" width="32" height="32" alt="" /></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="/img/pngfuel insta.png" width="35"
                            height="35" alt="" /></a>
                    <img src="/img/pngocean mas.png" width="30" height="30" alt="" />

            </div>
        </div>
        <div class="copyri">
            <div class="cell"><span>Copyright &#169; 2019-2021 Programmers - Todos los derechos reservados </span>
            </div>
            <div class="cell"> <span>Politica de privacidad - Politica de cookies - Politica de publicad</span>
            </div>
        </div>
    </section>
</footer>