<form data-abide novalidate action='/singup' method="POST">
    <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i>el formulario no ha sido llenado de manera correcta.</p>
    </div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <label>Nombre
                    <input type="text" placeholder="Nombre123" name="nombre" required pattern="alpha_numeric">
                    <span class="form-error">
                        Digite un nombre de usuario
                    </span>
                </label>
            </div>
            <div class="cell small-12">
                <label>Digite su Email
                    <input type="text" name="email" required pattern="email">
                    <span class="form-error" data-form-error-on="required">
                        El email debe ser digitado
                    </span>
                    <span class="form-error" data-form-error-on="pattern">
                        El email digitado no es valido
                    </span>
                </label>
            </div>
            <div class="cell small-12">
                <label>contraseña
                    <input type="password" id="password" name="password" placeholder="yeti4preZ" required>
                    <span class="form-error">
                        Digite la contraseña
                    </span>
                </label>
            </div>
            <div class="cell small-12">
                <label>Digite la contraseña nuevamente
                    <input type="password" placeholder="yeti4preZ" required pattern="alpha_numeric"
                        data-equalto="password">
                    <span class="form-error" data-form-error-on="equalTo">
                        Las contraseñas no son iguales
                    </span>
                    <span class="form-error" data-form-error-on="required">
                        Debe digitar nuevamente la contraseña
                    </span>
                </label>
            </div>
        </div>
        
        <input type="hidden" name="rol" value="{{rol}}">
    </div>
    <button class="button" type="submit" value="Submit">Submit</button>
</form>