<form data-abide novalidate action='/singin' method="POST">
    <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i>Debe llenar todos los campos.</p>
    </div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x" style="display: flex;align-content: center;padding-top: 3rem;flex-direction: column;padding-bottom: 3rem;">
            <div class="cell small-6">
                <label>Digite su Email
                    <input type="text" name="email" required pattern="email">
                    <span class="form-error" data-form-error-on="required">
                        El email debe ser digitado
                    </span>
                    <span class="form-error" data-form-error-on="pattern">
                        El email digitado no es valido
                    </span>
                </label>
            </div>
            <div class="cell small-6">
                <label>contraseña
                    <input type="password" id="password" name="password" placeholder="yeti4preZ" required>
                    <span class="form-error">
                        Digite la contraseña
                    </span>
                </label>
            </div>
            <button class="button" type="submit" value="Submit" style="width: fit-content">Entrar</button>
        </div>

    </div>

</form>